@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-4xl;
        font-family: 'Quicksand', sans-serif;
        font-weight: 900;
    }
    h2 {
        @apply text-2xl;
        font-family: 'Marvel', sans-serif;
        font-weight: 500;
    }
    h3 {
        @apply text-xl;
        font-family: 'Marvel', sans-serif;
        font-weight: 500;
    }
    h4 {
        @apply text-lg;
        font-family: 'Marvel', sans-serif;
        font-weight: 500;
    }
    p {
        font-family: 'Cambay', sans-serif;
    }
    span {
        font-family: 'Cambay', sans-serif;
    }
    a {
        font-family: 'Cambay', sans-serif;
    }
}