body{
    background-image: url("/images/tikal.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

.title{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 7px;
}

.image-navbar{
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.option{
    font-weight: bold;
}

.navbar-brand{
    margin: 0;
    border-left: 15px;
    padding: 10px;
    margin: auto;
    align-items: center;
    text-align: justify;
}

.jumbotron{
    background: rgba(0,0,0,0.5);
    margin: 1.5em;
    padding-bottom: 1em;
}

#name-header{
    color: rgb(150,150,150);
    font-family: 'Russo One', sans-serif;
    padding-top: 1em;
}

#name-sub-header{
    font-family: 'Russo One', sans-serif;
    font-style: italic;
    color: rgb(170,170,170);
}

.image-title{
    border-radius: 50%;
    height: 20em;
    width: 20em;
    margin: auto;
}

.center-items{
    text-align: center;
}
