/*---------------------------------
General Styles
 ----------------------------------*/

html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*---------------------------------
Navbar Styles
 ----------------------------------*/

.title {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.nav-item {
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(210, 210, 210);
    font-weight: bold;
}

.image-navbar {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.option {
    font-weight: bold;
}

.navbar-brand {
    margin: 0;
    border-left: 15px;
    padding: 10px;
    margin: auto;
    align-items: center;
    text-align: justify;
}

.container-fluid{
    margin: 0;
}

/*---------------------------------
Home Styles
 ----------------------------------*/

.home {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.home-header {
    background-image: url("/images/tikal.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

#name-header {
    color: rgb(170, 170, 170);
    font-family: 'Russo One', sans-serif;
    font-size: 300%;
}

#name-sub-header {
    font-family: 'Russo One', sans-serif;
    font-style: italic;
    font-size: 100%;
    color: rgb(170, 170, 170);
}

.image-home {
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.center-items {
    text-align: center;
    margin: auto;
    position: center;

}

/*---------------------------------
Education Styles
 ----------------------------------*/

.education-title {
    background: rgba(30, 30, 30, 1);
}

.education-title h1 {
    color: rgb(170, 170, 170);
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    border-bottom: solid 2px rgb(170, 170, 170);
    padding-bottom: 0.2em;
}

.education {
    background: rgba(30, 30, 30, 1);
    border-top: solid 2.5em rgba(0,0,0,0);
}

.image-education {
    border-radius: 100%;
    max-height: 20em;
    max-width: 20em;
    padding: 2em;
    margin: auto;
}

/*---------------------------------
Card Styles
 ----------------------------------*/

.education-card {
    padding: 2em;
}

.card-title {
    font-family: 'Exo 2', sans-serif;
    text-align: justify;
    text-justify: auto;
}

.card-text{
    text-align: justify;
    text-justify: auto;
}

.electronic-card {
    padding-top: 1em;
    padding-bottom: 3em;
}

.systems-card {
    padding-top: 1em;
    padding-bottom: 3em;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-img-top {
    height: 40%;
    width: 40%;
}

/*---------------------------------
Experience Styles
 ----------------------------------*/

.experience-block{
    background-image: url("/images/lovera_estoraques.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: solid 10px rgba(30,30,30,1);
}

.experience-title {
    background: rgba(30, 30, 30, 0.5);
}

.experience-title h1 {
    color: rgb(170, 170, 170);
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 40px;
    border-bottom: solid 2px rgb(170, 170, 170);
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

/*---------------------------------
Timeline Styles
 ----------------------------------*/

.timeline-date{
    color: rgb(150,30,30);
}

.timeline {
    background: rgba(30, 30, 30, 0.5);
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: white;
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
    margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
    padding-right:90px;
}

.timeline > li.timeline-inverted {
    padding-left:90px;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}

/*---------------------------------
Skills Styles
 ----------------------------------*/

.skills{
    padding-top: 0;
    margin-top: 0 ;
    border-top: 0;
}

.skills-title {
    background: rgba(30, 30, 30, 1);
}

.skills-title h1 {
    color: rgb(170, 170, 170);
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 40px;
    border-bottom: solid 2px rgb(170, 170, 170);
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.skills-block{
    background: rgba(30, 30, 30, 1);
    padding: 5px;
}

#lovera-skills-image{
    height: 10%;
    width: 10%;
    padding-top: 3em;
}

#lovera-skills-image h2{
    color: rgb(180,180,180);
    font-family: 'Russo One', sans-serif;;
}

#lovera-character{
    width: 70%;
    border-radius: 25px;
    padding-bottom: 3em;
}

.skill-image{
    border-radius: 50%;
    border: solid rgba(0,0,0,0) 1px;
    padding: 2px;
    width: 40%;
}

#stats div[id^='skill']{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(150,30,30);
    border: solid rgba(0,0,0,0) 10px;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

/*---------------------------------
Hobbies Styles
 ----------------------------------*/

* { box-sizing: border-box; }
.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
    .vid-info { width: 50%; padding: .5rem; }
    .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
    .vid-info .acronym { display: none; }
}

.hobbies-title {
    background: rgba(30, 30, 30, 0.5);
}

.hobbies-title h1 {
    color: rgb(170, 170, 170);
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 40px;
    border-bottom: solid 2px rgb(170, 170, 170);
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.hobbies-block{
    background: rgba(30, 30, 30, 0.5);
    padding: 5px;
    color: beige;
}

#hobbies{
    border: solid 5rem rgba(0,0,0,0);
}

.hobbies-description{
    font-family: 'Righteous', cursive
}

.hobbies-image{
    border-radius: 50%;
    height: 100%;
}

/*---------------------------------
Contact Styles
 ----------------------------------*/

.contact-title {
    background: rgba(30, 30, 30, 1);
}

.contact-title h1 {
    color: rgb(170, 170, 170);
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 40px;
    border-bottom: solid 2px rgb(170, 170, 170);
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.contact-block{
    background: rgba(30, 30, 30, 1);
    border: solid 4em rgba(0,0,0,0);
}

.fa{
    color: rgb(150,30,30);
}

/*---------------------------------
Footer Styles
 ----------------------------------*/

.footer{
    background-color: #505050;
    color: white;
}

.footer-text{
    padding-top: 10px;
}
