body{
    background-image: url("/images/tikal.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.title{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 7px;
}

.image-navbar{
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.option{
    font-weight: bold;
}

.navbar-brand{
    margin: 0;
    border-left: 15px;
    padding: 10px;
    margin: auto;
    align-items: center;
    text-align: justify;
}

.home{
    background: rgba(0,0,0,0.5);
    border-top: solid 10.5em rgba(0,0,0,0);
    border-bottom: solid 10.5em rgba(0,0,0,0);
}

.jumbotron{
    //margin: 1.5em;
    background: rgba(0,0,0,0);
    padding-bottom: 0.5em;
}

#name-header{
    color: rgb(170,170,170);
    font-family: 'Russo One', sans-serif;
    padding-top: 1.2em;
}

#name-sub-header{
    font-family: 'Russo One', sans-serif;
    font-style: italic;
    color: rgb(170,170,170);
}

.image-home{
    border-radius: 50%;
    height: 20em;
    width: 20em;
    padding: 1em;
    margin: auto;
}

.center-items{
    text-align: center;
    margin: auto;
    position: center;

}

.education-title{
    background: rgba(30,30,30,1);
}

.education-title h1{
    color: rgb(170,170,170);
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 50px;
    border-bottom: solid 2px rgb(170,170,170);
    padding-bottom: 0.5em;
}

.education{
    background: rgba(30,30,30,1);
    border: solid 5em rgba(170,170,170,0);
}

.image-education{
    border-radius: 50%;
    height: 20em;
    width: 20em;
    padding: 1em;
    margin: auto;
}

.education-electronic{
    color: rgb(170,170,170);
    font-family: 'Russo One', sans-serif;
}

.education-electronic h4{
     font-size: 40px;
 }

.education-systems{
    color: rgb(170,170,170);
    font-family: 'Russo One', sans-serif;
}

.education-systems h4{
    font-size: 40px;
}

@media (max-width: 978px) {
    .home{
        background: rgba(0,0,0,0.5);
        border-top: solid 1em rgba(0,0,0,0);
        border-bottom: solid 4em rgba(0,0,0,0);
    }

}